/* Resets */

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #5f656d;
    font-size: 15px;
    font-weight: 400;
    background-color: #f5f6f5;
}

/* Cabeçalho */

#header-superior {
    height: 70px;
    /* ajuste para o menu ficar centralizado na vertical */
    line-height: 70px;
    /* espaçamento em cada lado do cabeçalho */
    padding-left: 20px;
    padding-right: 20px;
}

#header-superior #header-superior-logo {
    float: left;
}

#header-superior #header-superior-links {
    float: right
}

#header-central #header-central-mais-procurados {
    height: 25px;
    margin-top: 12px;
}

.title {
    line-height: 1.15;
    font-size: 50px;
}

.sub-title {
    line-height: 1.4;
}

/* Formatação para menu horizontal */

.menu-horizontal ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu-horizontal ul li {
    display: inline;
}

.menu-horizontal ul li a {
    font-size: 15px;
    padding-left: 25px;
    display: inline-block;
    text-decoration: none;
}

/* Formatacao da parte de buscas */

#header-central {
    width: 780px;
    margin: 0 auto;
    padding: 90px 0;
}

#header-central #form-busca {
    margin-top: 36px;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

.row-condensed {
    margin-right: -6px;
    margin-left: -6px;
}

#header-central .input-search {
    width: 66.66667%;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    color: #5f656d;
}

#header-central #btn-buscar {
    width: 32%;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #4a86f8;
}

.label-procurados {
    float: left;
}

.text-center {
    text-align: center;
}

/* Rodape */

#header-inferior {
    background: #fff;
    padding: 10px;
    line-height: 40px;
}

#header-inferior #header-inferior-menu-categorias #menu-categorias {
    margin: 0 auto;
    width: 400px;
}

#header-inferior #header-inferior-menu-categorias ul li {
    margin: 0 15px;
}

#header-inferior #header-inferior-menu-categorias ul li a {
    color: #5f656d;
}

/* video Header */

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.video-background .fullscreen-bg {
    position: absolute;
    top: 0;
    background-size: 100%;
    width: 100%;
    height: auto;
}

.header-component {
    position: relative;
}

.background-overlay {
    position: absolute;
    background-color: rgba(53, 59, 66, .5);
    width: 100%;
    height: 100%;
    top: 0;
}

.fullscreen-bg-video {
    background-size: 100%;
    width: 100%;
    height: auto;
}

#header a, #header span, #header h1, #header h2 {
    color: white;
}

/* Serviços Populares */

section {
    clear: both;
}

#servicos-populares {
    padding-top: 35px;
}

#servicos-populares h2 {
    margin: 30px 0;
    text-align: center;
    line-height: 29px;
    font-size: 24px;
}

#servicos-populares-imagens {
    width: 1025px;
    margin: 0 auto;
}

#servicos-populares-imagens .container-servico-popular {
    width: 321.667px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    text-decoration: none;
    color: #5f656d;
}

#servicos-populares-imagens .container-servico-popular img {
    margin-bottom: 0;
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

#servicos-populares-imagens .container-servico-popular .container-servico-popular-descricao span {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

#servicos-populares-imagens .container-servico-popular .container-servico-popular-descricao span:nth-child(2) {
    font-weight: 700;
    font-size: 15px;
}

#servicos-populares-imagens .container-servico-popular .container-servico-popular-descricao span:nth-child(3) {
    font-size: 13px;
}

/* categorias */

#categorias {
    width: 1045px;
    padding-top: 20px;
    margin: 0 auto;
}

#categorias h2 {
    visibility: none;
    opacity: 0;
}

#categorias #listagem-categorias {
    width: 435px;
    margin: 15px auto;
}

#categorias ul li {
    font-size: 18px;
    margin: 0 15px;
    padding-bottom: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
}

#categorias ul li a {
    color: #5f656d;
    padding: 0;
    margin: 0 15px;
    padding-bottom: 10px;
}

#categorias ul li.ativo {
    border-bottom: 2px solid #4a86f8;
}

#categorias ul li.ativo a {
    color: #4a86f8;
}

#categorias .container-categoria {
    height: 270px;
    overflow: hidden;
    position: relative;
    float: left;
    padding: 0 12.5px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-decoration: none;
}

#categorias .container-categoria img {
    width: 100%;
}

#categorias .container-categoria.caterogia-1x {
    width: 33%;
}

#categorias .container-categoria.caterogia-2x {
    width: 66%;
}

#categorias .container-categoria.caterogia-1x img {
    height: 200px;
}

#categorias .container-categoria-descricao span {
    display: block;
    color: #5f656d;
}

#categorias .container-categoria-descricao span:nth-child(1) {
    margin-top: 12px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

#categorias .container-categoria-descricao span:nth-child(2) {
    margin-top: 12px;
    font-size: 13px;
}

/* Depoimentos */

#area-depoimentos {
    width: 1045px;
    height: 685px;
    padding: 50px 0 0 0;
    margin: 0 auto;
}

#area-depoimentos h3 {
    font-size: 38px;
    text-align: center;
    padding-right: 12.5px;
    padding-left: 12.5px;
}

#depoimentos {
    margin-top: 36px;
}

.depoimento-container {
    width: 33%;
    float: left;
    position: relative;
    padding-right: 12.5px;
    padding-left: 12.5px;
    min-height: 1px;
    height: 500px;
}

.depoimento-container .depoimento {
    background: #ffffff;
}

.depoimento-container .depoimento .principal {
    width: 100%;
}

.depoimento-container .depoimento figcaption {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    min-height: 280px;
}

.depoimento-container .depoimento .wave {
    position: absolute;
    top: 157px;
    left: 13px;
    width: 319px;
}

.depoimento-container .depoimento blockquote {
    margin-top: 24px;
    margin-bottom: 50px;
    line-height: 1.7;
}

.depoimento-container .depoimento figcaption span {
    color: #51555a;
    font-weight: 400;
    text-rendering: optimizelegibility;
    line-height: 1.4;
    font-size: 24px;
    margin-top: 12px;
}

.depoimento-container .depoimento figcaption button {
    width: 180px;
    height: 50px;
    display: block;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #4a86f8;
    margin: 72px auto 0 auto;
    font-size: 15px;
}

.mais-depoimentos {
    border: 1px solid #d4d8dc;
}

.mais-depoimentos .depoimento {
    background: transparent;
}

.mais-depoimentos figcaption {
    text-align: center;
}

.mais-depoimentos figure figcaption {
    height: 260px;
}

/* Rodape */

#footer {
    clear: both;
    font-size: 18px;
    margin-top: 30px;
    padding: 40px 15px;
    background-color: #51555a;
    color: #9b9b9b;
    text-align: center;
}

#footer nav {
    text-align: left;
}

#footer nav div {
    width: 25%;
    float: left;
    position: relative;
    padding-right: 12.5px;
    padding-left: 12.5px;
    min-height: 1px;
}

#footer nav div ul {
    list-style: none;
    line-height: 1.5;
}

#footer nav div a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

#footer #map {
    clear: both;
}

#footer .social a {
    text-decoration: none;
}

#footer #separador {
    clear: both;
    width: 60%;
    margin: 110px auto 0 auto;
    opacity: .32;
    background-color: #c3c3c3;
}

#footer .stars {
    margin-top: 30px;
}

#footer #copyright {
    color: #fff;
}

/* cabeçalho pegajoso */

.header-sticky {
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 60;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

.header-sticky .logo, .header-sticky .header-sticky-busca {
    position: relative;
    float: left;
    width: 50%;
}

.header-sticky .header-sticky-busca #header-sticky-form-busca #header-sticky-search {
    width: 64%;
    height: 50px;
    line-height: 30px;
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    color: #5f656d;
}

.header-sticky .header-sticky-busca #header-sticky-form-busca #header-sticky-btn-buscar {
    width: 35%;
    height: 50px;
    line-height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #4a86f8;
}

.header-sticky.is-visible {
    transform: translateY(0);
}

#container-categorias-images .box-categorias.animatable {
    display: none;
}